*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.ist
*.lof
*.log
*.lol
*.synctex.gz
*.toc
*.out
*.lot
quellen/
src/mandel-zybo.cache/
src/mandel-zybo.hw/
src/mandel-zybo.ip_user_files/
src/mandel-zybo.runs/
src/mandel-zybo.sim/
src/mif.coe