*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.ist
*.lof
*.log
*.lol
*.synctex.gz
*.toc
*.out
*.lot
quellen/
src/mandelbrot.cache/
src/mandelbrot.hw/
src/mandelbrot.ip_user_files/
src/mandelbrot.runs/
src/mandelbrot.sim/
src/mif.coe